# General / root ignores
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ==========================================
# Frontend Ignores (Next.js)
# ==========================================
# dependencies
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# testing
frontend/coverage/

# next.js
frontend/.next/
frontend/out/

# production
frontend/build/

# env files (can opt-in for committing if needed)
frontend/.env*

# vercel
frontend/.vercel/

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts


# ==========================================
# Backend Ignores (Symfony)
# ==========================================
###> symfony/framework-bundle ###
backend/.env.local
backend/.env.local.php
backend/.env.*.local
backend/config/secrets/prod/prod.decrypt.private.php
backend/public/bundles/
backend/var/
backend/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
backend/phpunit.xml
backend/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
backend/public/assets/
backend/assets/vendor/
###< symfony/asset-mapper ###
